In [607]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import math
%matplotlib inline

In [608]:
df=pd.read_csv('trainms.csv')
df.head()

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,4,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,5,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [609]:
df.describe()

              s.no          Age
count  1000.000000  1000.000000
mean    500.500000    30.330000
std     288.819436    56.889837
min       1.000000 -1726.000000
25%     250.750000    27.000000
50%     500.500000    31.000000
75%     750.250000    36.000000
max    1000.000000   329.000000

In [610]:
df.isnull().sum()

s.no                           0
Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        400
self_employed                 18
family_history                 0
treatment                      0
work_interfere               226
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     873
dtype: int64

In [611]:
df=df.drop(['s.no','Country','state','comments'],axis=1)
df.head()

,Timestamp,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:31,37,Female,NaN,No,Yes,Often,6-25,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2014-08-27 11:29:37,44,M,NaN,No,No,Rarely,More than 1000,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2014-08-27 11:29:44,32,Male,NaN,No,No,Rarely,6-25,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,2014-08-27 11:29:46,31,Male,NaN,Yes,Yes,Often,26-100,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,2014-08-27 11:30:22,31,Male,NaN,No,No,Never,100-500,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [612]:
df=df.drop(['Timestamp'],axis=1)

In [613]:
df=df.replace(to_replace =['no','No','N','NO'],
                 value =0)
df=df.replace(to_replace =['yes','Yes','Y','YES'],
value =1)

In [614]:
# df["no_employees"].unique()

In [615]:
df=df.replace(to_replace =['1-5'],
                 value =1)
df=df.replace(to_replace =['6-25'],
value =2)
df=df.replace(to_replace =['26-100'],
                 value =3)
df=df.replace(to_replace =['100-500'],
value =4)
df=df.replace(to_replace =['500-1000'],
                 value =5)
df=df.replace(to_replace =['More than 1000'],
value =6)

In [616]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,NaN,0,1,Often,2,0,1,1,...,1,Somewhat easy,0,0,Some of them,1,0,Maybe,1,0
1,44,M,NaN,0,0,Rarely,6,0,0,Don't know,...,Don't know,Don't know,Maybe,0,0,0,0,0,Don't know,0
2,32,Male,NaN,0,0,Rarely,2,0,1,0,...,Don't know,Somewhat difficult,0,0,1,1,1,1,0,0
3,31,Male,NaN,1,1,Often,3,0,1,0,...,0,Somewhat difficult,1,1,Some of them,0,Maybe,Maybe,0,1
4,31,Male,NaN,0,0,Never,4,1,1,1,...,Don't know,Don't know,0,0,Some of them,1,1,1,Don't know,0

In [617]:
df=df.replace(to_replace =["Male","male","M","m","Male-ish","maile",'Mal', 'Male ','Man'],
                 value =0)
df=df.replace(to_replace =["Female","female","F","f",'Femake','Female ','Woman','woman'],
value =1)
df=df.replace(to_replace =['Trans-female', 'Cis Female',
       'something kinda male?', 'Cis Male',  
       'non-binary',  'Make', 'Nah', 'Enby', 'fluid',
       'Genderqueer',  'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
        'Trans woman', 'msle', 'Neuter', 'Female (trans)', 'queer',
       'Female (cis)', 'Mail', 'cis male', 'A little about you'],
value =0.5)

In [618]:

df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1.0,NaN,0,1,Often,2,0,1,1,...,1,Somewhat easy,0,0,Some of them,1,0,Maybe,1,0
1,44,0.0,NaN,0,0,Rarely,6,0,0,Don't know,...,Don't know,Don't know,Maybe,0,0,0,0,0,Don't know,0
2,32,0.0,NaN,0,0,Rarely,2,0,1,0,...,Don't know,Somewhat difficult,0,0,1,1,1,1,0,0
3,31,0.0,NaN,1,1,Often,3,0,1,0,...,0,Somewhat difficult,1,1,Some of them,0,Maybe,Maybe,0,1
4,31,0.0,NaN,0,0,Never,4,1,1,1,...,Don't know,Don't know,0,0,Some of them,1,1,1,Don't know,0

In [619]:
df["Gender"].unique()

array([1. , 0. , 0.5])

In [620]:
df.describe()

,Age,Gender,self_employed,family_history,treatment,no_employees,remote_work,tech_company,obs_consequence
count,1000.000000,1000.000000,982.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.00000
mean,30.330000,0.201000,0.125255,0.381000,0.492000,3.40900,0.29400,0.832000,0.13600
std,56.889837,0.392113,0.331176,0.485876,0.500186,1.69959,0.45582,0.374053,0.34296
min,-1726.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.00000,0.000000,0.00000
25%,27.000000,0.000000,0.000000,0.000000,0.000000,2.00000,0.00000,1.000000,0.00000
50%,31.000000,0.000000,0.000000,0.000000,0.000000,3.00000,0.00000,1.000000,0.00000
75%,36.000000,0.000000,0.000000,1.000000,1.000000,5.00000,1.00000,1.000000,0.00000
max,329.000000,1.000000,1.000000,1.000000,1.000000,6.00000,1.00000,1.000000,1.00000

In [621]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1.0,NaN,0,1,Often,2,0,1,1,...,1,Somewhat easy,0,0,Some of them,1,0,Maybe,1,0
1,44,0.0,NaN,0,0,Rarely,6,0,0,Don't know,...,Don't know,Don't know,Maybe,0,0,0,0,0,Don't know,0
2,32,0.0,NaN,0,0,Rarely,2,0,1,0,...,Don't know,Somewhat difficult,0,0,1,1,1,1,0,0
3,31,0.0,NaN,1,1,Often,3,0,1,0,...,0,Somewhat difficult,1,1,Some of them,0,Maybe,Maybe,0,1
4,31,0.0,NaN,0,0,Never,4,1,1,1,...,Don't know,Don't know,0,0,Some of them,1,1,1,Don't know,0

In [622]:
# df=df.drop(['no_employees'],axis=1)

In [623]:
df.describe()

,Age,Gender,self_employed,family_history,treatment,no_employees,remote_work,tech_company,obs_consequence
count,1000.000000,1000.000000,982.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.00000
mean,30.330000,0.201000,0.125255,0.381000,0.492000,3.40900,0.29400,0.832000,0.13600
std,56.889837,0.392113,0.331176,0.485876,0.500186,1.69959,0.45582,0.374053,0.34296
min,-1726.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.00000,0.000000,0.00000
25%,27.000000,0.000000,0.000000,0.000000,0.000000,2.00000,0.00000,1.000000,0.00000
50%,31.000000,0.000000,0.000000,0.000000,0.000000,3.00000,0.00000,1.000000,0.00000
75%,36.000000,0.000000,0.000000,1.000000,1.000000,5.00000,1.00000,1.000000,0.00000
max,329.000000,1.000000,1.000000,1.000000,1.000000,6.00000,1.00000,1.000000,1.00000

In [624]:
df=df.replace(to_replace =["Very easy"],
                 value =0)
df=df.replace(to_replace =["Somewhat easy"],
                 value =1)
df=df.replace(to_replace =["Somewhat difficult"],
                 value =2)
df=df.replace(to_replace =["Very difficult"],
                 value =3)
df=df.replace(to_replace =["Don't know","Not sure","Maybe",'Some of them'],
                 value =1.5)



df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1.0,NaN,0,1,Often,2,0,1,1.0,...,1.0,1.0,0.0,0.0,1.5,1.0,0.0,1.5,1.0,0
1,44,0.0,NaN,0,0,Rarely,6,0,0,1.5,...,1.5,1.5,1.5,0.0,0.0,0.0,0.0,0.0,1.5,0
2,32,0.0,NaN,0,0,Rarely,2,0,1,0.0,...,1.5,2.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0
3,31,0.0,NaN,1,1,Often,3,0,1,0.0,...,0.0,2.0,1.0,1.0,1.5,0.0,1.5,1.5,0.0,1
4,31,0.0,NaN,0,0,Never,4,1,1,1.0,...,1.5,1.5,0.0,0.0,1.5,1.0,1.0,1.0,1.5,0

In [625]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1.0,NaN,0,1,Often,2,0,1,1.0,...,1.0,1.0,0.0,0.0,1.5,1.0,0.0,1.5,1.0,0
1,44,0.0,NaN,0,0,Rarely,6,0,0,1.5,...,1.5,1.5,1.5,0.0,0.0,0.0,0.0,0.0,1.5,0
2,32,0.0,NaN,0,0,Rarely,2,0,1,0.0,...,1.5,2.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0
3,31,0.0,NaN,1,1,Often,3,0,1,0.0,...,0.0,2.0,1.0,1.0,1.5,0.0,1.5,1.5,0.0,1
4,31,0.0,NaN,0,0,Never,4,1,1,1.0,...,1.5,1.5,0.0,0.0,1.5,1.0,1.0,1.0,1.5,0

In [626]:
df=df.replace(to_replace =["Never"],
                 value =0)
df=df.replace(to_replace =["NA"],
                 value =2.5)
df=df.replace(to_replace =["Often"],
                 value =3)
df=df.replace(to_replace =["Rarely"],
                 value =5)
df=df.replace(to_replace =["Sometimes"],
                 value =7)

df.describe()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1000.000000,1000.000000,982.000000,1000.000000,1000.000000,774.000000,1000.00000,1000.00000,1000.000000,1000.00000,...,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,30.330000,0.201000,0.125255,0.381000,0.492000,4.574935,3.40900,0.29400,0.832000,0.86700,...,1.276000,1.315000,0.77450,0.374500,1.111500,0.831500,0.288500,0.819000,0.953000,0.13600
std,56.889837,0.392113,0.331176,0.485876,0.500186,2.781187,1.69959,0.45582,0.374053,0.59889,...,0.372105,0.779026,0.66884,0.631584,0.584944,0.588816,0.576498,0.690808,0.616174,0.34296
min,-1726.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.00000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,27.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.00000,0.00000,1.000000,0.00000,...,1.000000,1.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,31.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.00000,0.00000,1.000000,1.00000,...,1.500000,1.500000,1.00000,0.000000,1.500000,1.000000,0.000000,1.000000,1.000000,0.00000
75%,36.000000,0.000000,0.000000,1.000000,1.000000,7.000000,5.00000,1.00000,1.000000,1.50000,...,1.500000,1.500000,1.50000,1.000000,1.500000,1.500000,0.000000,1.500000,1.500000,0.00000
max,329.000000,1.000000,1.000000,1.000000,1.000000,7.000000,6.00000,1.00000,1.000000,1.50000,...,1.500000,3.000000,1.50000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.00000

In [627]:
df.describe

<bound method NDFrame.describe of      Age  Gender  self_employed  family_history  treatment  work_interfere  \
0     37     1.0            NaN               0          1             3.0
1     44     0.0            NaN               0          0             5.0
2     32     0.0            NaN               0          0             5.0
3     31     0.0            NaN               1          1             3.0
4     31     0.0            NaN               0          0             0.0
5     33     0.0            NaN               1          0             7.0
6     35     1.0            NaN               1          1             7.0
7     39     0.0            NaN               0          0             0.0
8     42     1.0            NaN               1          1             7.0
9     23     0.0            NaN               0          0             0.0
10    31     0.0            NaN               0          1             7.0
11    29     0.0            NaN               0          0             0.0
12    42     1.0            NaN               1          1             7.0
13    36     0.0            NaN               1          0             0.0
14    27     0.0            NaN               0          0             0.0
15    29     1.0            NaN               1          1             5.0
16    23     0.0            NaN               0          1             7.0
17    32     0.0            NaN               0          1             7.0
18    46     0.0            1.0               1          0             7.0
19    36     0.0            1.0               1          0             NaN
20    29     0.0            0.0               1          1             7.0
21    31     0.0            1.0               0          0             0.0
22    46     0.0            0.0               0          1             3.0
23    41     0.0            0.0               0          1             0.0
24    33     0.0            0.0               1          1             5.0
25    35     0.0            0.0               1          1             7.0
26    33     0.0            0.0               0          0             NaN
27    35     1.0            0.0               1          1             5.0
28    34     0.0            0.0               0          1             7.0
29    37     0.0            0.0               0          0             7.0
..   ...     ...            ...             ...        ...             ...
970   43     0.0            0.0               0          0             7.0
971   30     0.0            1.0               0          1             7.0
972   40     0.0            0.0               1          1             5.0
973   49     0.0            0.0               1          0             0.0
974   29     0.0            0.0               0          0             NaN
975   26     0.0            0.0               0          0             NaN
976   38     0.5            0.0               0          0             0.0
977   27     0.0            0.0               1          0             NaN
978   26     0.0            0.0               0          0             0.0
979   28     0.0            0.0               1          1             3.0
980   40     0.0            0.0               1          1             7.0
981   37     1.0            1.0               1          1             5.0
982   34     1.0            0.0               1          1             3.0
983   28     0.0            0.0               1          1             3.0
984   27     0.0            0.0               0          0             0.0
985   29     0.0            0.0               0          1             7.0
986   39     1.0            0.0               1          0             5.0
987   28     0.0            0.0               0          0             3.0
988   23     0.0            0.0               1          0             7.0
989    8     0.5            1.0               1          1             3.0
990   38     0.0            0.0               0          0             NaN
991   19     0.0            0.0               0          0             NaN
992   30     1.0            0.0               1          1             7.0
993   28     0.0            1.0               0          0             NaN
994   20     0.0            0.0               0          1             7.0
995   35     0.0            1.0               0          0             7.0
996   39     0.0            0.0               0          1             5.0
997   31     1.0            0.0               1          0             0.0
998   32     0.0            0.0               0          0             5.0
999   27     0.0            0.0               0          0             NaN

     no_employees  remote_work  tech_company  benefits  ...  anonymity  leave  \
0               2            0             1       1.0  ...        1.0    1.0
1               6            0             0       1.5  ...        1.5    1.5
2               2            0             1       0.0  ...        1.5    2.0
3               3            0             1       0.0  ...        0.0    2.0
4               4            1             1       1.0  ...        1.5    1.5
5               2            0             1       1.0  ...        1.5    1.5
6               1            1             1       0.0  ...        0.0    2.0
7               1            1             1       0.0  ...        1.0    1.5
8               4            0             1       1.0  ...        0.0    3.0
9               3            0             1       1.5  ...        1.5    1.5
10              2            1             1       1.5  ...        1.5    1.5
11              4            1             1       1.5  ...        1.5    1.5
12              3            0             0       1.0  ...        1.5    2.0
13              5            0             1       1.5  ...        1.5    1.5
14              2            0             1       1.5  ...        1.5    1.0
15              3            0             1       1.0  ...        1.5    1.0
16              3            1             1       1.5  ...        1.5    0.0
17              2            0             1       1.0  ...        1.5    1.5
18              1            1             1       1.0  ...        1.0    0.0
19              2            1             1       0.0  ...        1.0    1.0
20              4            0             1       1.0  ...        0.0    2.0
21              1            1             1       0.0  ...        1.0    2.0
22              3            1             1       1.0  ...        1.5    1.5
23              6            0             0       1.5  ...        1.5    1.5
24              3            0             1       1.0  ...        1.0    1.5
25              6            0             0       1.0  ...        0.0    0.0
26              1            0             1       1.5  ...        1.5    1.5
27              2            1             1       1.0  ...        1.5    1.5
28              3            1             1       1.5  ...        1.5    2.0
29              2            0             1       0.0  ...        1.5    3.0
..            ...          ...           ...       ...  ...        ...    ...
970             6            1             1       0.0  ...        1.5    3.0
971             2            0             1       0.0  ...        0.0    3.0
972             2            0             1       1.5  ...        1.5    1.5
973             6            0             1       1.0  ...        1.0    1.5
974             2            0             1       1.5  ...        1.5    1.0
975             5            0             1       1.5  ...        1.5    1.5
976             6            0             1       1.0  ...        1.0    1.0
977             5            0             0       1.0  ...        1.0    1.0
978             2            0             1       1.0  ...        0.0    1.0
979             3            0             1       0.0  ...        1.5    1.0
980             1            1             1       0.0  ...        1.5    1.5
981             1            1             1       0.0  ...        1.0    1.0
982             3            1             0       1.0  ...        0.0    1.0
983             4            0             1       1.5  ...        1.5    1.5
984             3            0             1       1.0  ...        1.0    0.0
985             2            1             1       0.0  ...        1.5    0.0
986             5            1             1       1.5  ...        1.5    2.0
987             2            0             1       0.0  ...        0.0    2.0
988             3            0             1       1.0  ...        1.0    1.0
989             1            1             1       1.0  ...        1.0    0.0
990             1            1             1       0.0  ...        1.0    1.0
991             2            0             1       1.0  ...        1.5    0.0
992             3            0             1       1.0  ...        1.0    0.0
993             1            1             1       0.0  ...        1.0    0.0
994             3            0             1       1.5  ...        1.5    1.5
995             1            0             1       1.5  ...        1.5    1.0
996             4            1             1       1.0  ...        1.0    0.0
997             6            0             0       1.0  ...        1.5    1.5
998             5            0             1       0.0  ...        1.5    1.5
999             2            0             1       0.0  ...        1.5    1.5

     mental_health_consequence  phys_health_consequence  coworkers  \
0                          0.0                      0.0        1.5
1                          1.5                      0.0        0.0
2                          0.0                      0.0        1.0
3                          1.0                      1.0        1.5
4                          0.0                      0.0        1.5
5                          0.0                      0.0        1.0
6                          1.5                      1.5        1.5
7                          0.0                      0.0        0.0
8                          1.5                      0.0        1.0
9                          0.0                      0.0        1.0
10                         0.0                      0.0        1.5
11                         0.0                      0.0        1.0
12                         1.0                      1.0        1.0
13                         0.0                      0.0        1.0
14                         0.0                      0.0        1.5
15                         0.0                      0.0        1.0
16                         1.5                      0.0        1.5
17                         1.5                      0.0        1.5
18                         0.0                      0.0        1.0
19                         0.0                      0.0        1.5
20                         1.5                      0.0        1.5
21                         0.0                      0.0        1.5
22                         1.5                      0.0        1.5
23                         1.5                      0.0        0.0
24                         0.0                      0.0        1.0
25                         1.0                      0.0        1.5
26                         1.5                      1.5        1.5
27                         0.0                      0.0        1.0
28                         0.0                      0.0        1.5
29                         1.0                      1.5        1.5
..                         ...                      ...        ...
970                        1.0                      1.5        0.0
971                        1.0                      1.0        0.0
972                        0.0                      0.0        1.0
973                        0.0                      0.0        1.0
974                        0.0                      0.0        1.5
975                        0.0                      0.0        1.5
976                        1.5                      1.5        1.5
977                        1.5                      1.5        0.0
978                        1.5                      0.0        0.0
979                        1.5                      1.5        1.0
980                        1.5                      1.5        1.5
981                        1.0                      1.5        1.5
982                        1.0                      1.0        1.5
983                        1.5                      0.0        1.5
984                        0.0                      0.0        1.0
985                        0.0                      0.0        1.0
986                        1.0                      1.0        0.0
987                        1.0                      0.0        0.0
988                        0.0                      0.0        0.0
989                        1.0                      1.0        1.0
990                        0.0                      0.0        1.5
991                        0.0                      0.0        1.0
992                        0.0                      0.0        1.5
993                        1.5                      1.5        0.0
994                        1.0                      0.0        0.0
995                        0.0                      0.0        1.5
996                        1.5                      0.0        1.5
997                        1.0                      1.0        0.0
998                        1.0                      0.0        0.0
999                        0.0                      0.0        0.0

     supervisor  mental_health_interview  phys_health_interview  \
0           1.0                      0.0                    1.5
1           0.0                      0.0                    0.0
2           1.0                      1.0                    1.0
3           0.0                      1.5                    1.5
4           1.0                      1.0                    1.0
5           1.0                      0.0                    1.5
6           0.0                      0.0                    0.0
7           0.0                      0.0                    0.0
8           1.0                      0.0                    1.5
9           1.0                      1.5                    1.5
10          1.0                      0.0                    0.0
11          1.0                      1.0                    1.0
12          1.0                      1.5                    1.5
13          1.0                      0.0                    0.0
14          1.5                      1.5                    1.0
15          1.5                      1.5                    1.5
16          0.0                      1.5                    1.5
17          1.0                      0.0                    0.0
18          1.0                      0.0                    1.0
19          1.5                      1.5                    1.5
20          1.5                      0.0                    0.0
21          1.5                      0.0                    1.5
22          1.0                      0.0                    1.5
23          0.0                      0.0                    1.0
24          1.0                      0.0                    1.0
25          1.0                      0.0                    1.0
26          0.0                      0.0                    0.0
27          1.0                      1.5                    1.5
28          0.0                      0.0                    0.0
29          0.0                      0.0                    1.5
..          ...                      ...                    ...
970         0.0                      0.0                    1.5
971         0.0                      0.0                    0.0
972         1.0                      0.0                    1.5
973         1.0                      0.0                    0.0
974         1.0                      1.5                    1.0
975         1.5                      1.5                    1.5
976         1.5                      0.0                    1.5
977         1.5                      0.0                    1.5
978         0.0                      0.0                    0.0
979         1.0                      0.0                    0.0
980         1.0                      0.0                    1.5
981         1.5                      1.5                    1.5
982         0.0                      0.0                    0.0
983         1.5                      0.0                    1.0
984         1.0                      1.5                    1.5
985         1.0                      0.0                    1.0
986         0.0                      0.0                    0.0
987         0.0                      0.0                    1.0
988         0.0                      0.0                    1.5
989         1.0                      1.0                    1.0
990         1.0                      0.0                    0.0
991         1.0                      0.0                    0.0
992         0.0                      0.0                    0.0
993         0.0                      0.0                    0.0
994         0.0                      0.0                    1.5
995         1.0                      0.0                    0.0
996         1.0                      0.0                    0.0
997         0.0                      0.0                    0.0
998         0.0                      0.0                    0.0
999         0.0                      0.0                    0.0

     mental_vs_physical  obs_consequence
0                   1.0                0
1                   1.5                0
2                   0.0                0
3                   0.0                1
4                   1.5                0
5                   1.5                0
6                   1.5                0
7                   0.0                0
8                   0.0                0
9                   1.0                0
10                  1.5                0
11                  1.5                0
12                  0.0                1
13                  1.5                0
14                  1.0                0
15                  1.5                0
16                  0.0                0
17                  0.0                0
18                  1.0                1
19                  1.5                0
20                  0.0                0
21                  1.0                0
22                  0.0                0
23                  1.5                0
24                  1.5                0
25                  0.0                0
26                  1.5                0
27                  1.0                0
28                  0.0                0
29                  0.0                0
..                  ...              ...
970                 0.0                1
971                 1.0                1
972                 1.5                0
973                 1.0                0
974                 1.5                0
975                 1.5                0
976                 0.0                1
977                 1.5                1
978                 1.5                0
979                 0.0                0
980                 0.0                0
981                 1.5                1
982                 1.5                0
983                 1.5                0
984                 1.0                0
985                 1.0                0
986                 0.0                1
987                 1.0                0
988                 1.5                0
989                 1.0                1
990                 1.5                0
991                 1.0                0
992                 1.0                0
993                 1.0                0
994                 1.0                0

In [628]:
df['Age']=np.where(df['Age']<=0 , df["Age"].mean(skipna=True), df['Age'])

In [629]:
df.describe()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1000.000000,1000.000000,982.000000,1000.000000,1000.000000,774.000000,1000.00000,1000.00000,1000.000000,1000.00000,...,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,32.145660,0.201000,0.125255,0.381000,0.492000,4.574935,3.40900,0.29400,0.832000,0.86700,...,1.276000,1.315000,0.77450,0.374500,1.111500,0.831500,0.288500,0.819000,0.953000,0.13600
std,11.909963,0.392113,0.331176,0.485876,0.500186,2.781187,1.69959,0.45582,0.374053,0.59889,...,0.372105,0.779026,0.66884,0.631584,0.584944,0.588816,0.576498,0.690808,0.616174,0.34296
min,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.00000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,27.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.00000,0.00000,1.000000,0.00000,...,1.000000,1.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,31.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.00000,0.00000,1.000000,1.00000,...,1.500000,1.500000,1.00000,0.000000,1.500000,1.000000,0.000000,1.000000,1.000000,0.00000
75%,36.000000,0.000000,0.000000,1.000000,1.000000,7.000000,5.00000,1.00000,1.000000,1.50000,...,1.500000,1.500000,1.50000,1.000000,1.500000,1.500000,0.000000,1.500000,1.500000,0.00000
max,329.000000,1.000000,1.000000,1.000000,1.000000,7.000000,6.00000,1.00000,1.000000,1.50000,...,1.500000,3.000000,1.50000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.00000

In [630]:
df['Age']=np.where(df['Age']>=80 , df["Age"].mean(skipna=True), df['Age'])

In [631]:
df.describe()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1000.000000,1000.000000,982.000000,1000.000000,1000.000000,774.000000,1000.00000,1000.00000,1000.000000,1000.00000,...,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,31.848806,0.201000,0.125255,0.381000,0.492000,4.574935,3.40900,0.29400,0.832000,0.86700,...,1.276000,1.315000,0.77450,0.374500,1.111500,0.831500,0.288500,0.819000,0.953000,0.13600
std,7.317670,0.392113,0.331176,0.485876,0.500186,2.781187,1.69959,0.45582,0.374053,0.59889,...,0.372105,0.779026,0.66884,0.631584,0.584944,0.588816,0.576498,0.690808,0.616174,0.34296
min,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.00000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,27.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.00000,0.00000,1.000000,0.00000,...,1.000000,1.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,31.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.00000,0.00000,1.000000,1.00000,...,1.500000,1.500000,1.00000,0.000000,1.500000,1.000000,0.000000,1.000000,1.000000,0.00000
75%,36.000000,0.000000,0.000000,1.000000,1.000000,7.000000,5.00000,1.00000,1.000000,1.50000,...,1.500000,1.500000,1.50000,1.000000,1.500000,1.500000,0.000000,1.500000,1.500000,0.00000
max,65.000000,1.000000,1.000000,1.000000,1.000000,7.000000,6.00000,1.00000,1.000000,1.50000,...,1.500000,3.000000,1.50000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.00000

In [632]:
# df=df.drop(['no_employees'],axis=1)

In [633]:
df.isnull().sum()

Age                            0
Gender                         0
self_employed                 18
family_history                 0
treatment                      0
work_interfere               226
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

In [634]:
df=df.replace(to_replace =["NaN"],
                 value =0.3)

In [635]:
df.isnull().sum()

Age                            0
Gender                         0
self_employed                 18
family_history                 0
treatment                      0
work_interfere               226
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

In [636]:
df["self_employed"].fillna(0.7, inplace = True)
df["work_interfere"].fillna(0.1, inplace = True)

In [637]:
df.describe()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.00000,...,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,31.848806,0.201000,0.135600,0.381000,0.492000,3.563600,3.40900,0.29400,0.832000,0.86700,...,1.276000,1.315000,0.77450,0.374500,1.111500,0.831500,0.288500,0.819000,0.953000,0.13600
std,7.317670,0.392113,0.336966,0.485876,0.500186,3.080829,1.69959,0.45582,0.374053,0.59889,...,0.372105,0.779026,0.66884,0.631584,0.584944,0.588816,0.576498,0.690808,0.616174,0.34296
min,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.00000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,27.000000,0.000000,0.000000,0.000000,0.000000,0.100000,2.00000,0.00000,1.000000,0.00000,...,1.000000,1.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,31.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.00000,0.00000,1.000000,1.00000,...,1.500000,1.500000,1.00000,0.000000,1.500000,1.000000,0.000000,1.000000,1.000000,0.00000
75%,36.000000,0.000000,0.000000,1.000000,1.000000,7.000000,5.00000,1.00000,1.000000,1.50000,...,1.500000,1.500000,1.50000,1.000000,1.500000,1.500000,0.000000,1.500000,1.500000,0.00000
max,65.000000,1.000000,1.000000,1.000000,1.000000,7.000000,6.00000,1.00000,1.000000,1.50000,...,1.500000,3.000000,1.50000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.00000

In [638]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37.0,1.0,0.7,0,1,3.0,2,0,1,1.0,...,1.0,1.0,0.0,0.0,1.5,1.0,0.0,1.5,1.0,0
1,44.0,0.0,0.7,0,0,5.0,6,0,0,1.5,...,1.5,1.5,1.5,0.0,0.0,0.0,0.0,0.0,1.5,0
2,32.0,0.0,0.7,0,0,5.0,2,0,1,0.0,...,1.5,2.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0
3,31.0,0.0,0.7,1,1,3.0,3,0,1,0.0,...,0.0,2.0,1.0,1.0,1.5,0.0,1.5,1.5,0.0,1
4,31.0,0.0,0.7,0,0,0.0,4,1,1,1.0,...,1.5,1.5,0.0,0.0,1.5,1.0,1.0,1.0,1.5,0

In [639]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
model=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=999999999, probability=True, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# model=RandomForestClassifier(n_estimators=10)
labels=df['treatment']
df_train=df.drop(['treatment'],axis=1)
x_train,x_test,y_train,y_test=train_test_split(df_train,labels,test_size=0.2)
model.fit(x_train,y_train)
class_probability = model.predict_proba(x_test)
print(class_probability.round())
prediction=model.predict(x_test)
print(model.score(x_test,y_test))

[[1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]]
0.82

In [640]:
df1=pd.read_csv('testms.csv')
df1.head()

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-29 09:29:37,25,Male,United States,PA,No,Yes,Often,6-25,...,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN
1,2,2014-08-29 09:31:37,42,male,United States,IN,No,Yes,Sometimes,6-25,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,NaN
2,3,2014-08-29 09:31:49,34,male,United States,PA,No,Yes,Often,100-500,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN
3,4,2014-08-29 09:33:43,26,female,United States,OH,No,No,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,Maybe,Maybe,Don't know,Yes,NaN
4,5,2014-08-29 09:35:46,35,Male,United Kingdom,NaN,No,Yes,Sometimes,1-5,...,Very easy,Yes,Yes,Some of them,Some of them,No,Maybe,Yes,Yes,NaN

In [641]:
df1=df1.drop(['s.no','Country','state','comments'],axis=1)

In [642]:
df1=df1.drop(['Timestamp'],axis=1)

In [643]:
df1=df1.replace(to_replace =['no','No','N','NO'],
                 value =0)
df1=df1.replace(to_replace =['yes','Yes','Y','YES'],
value =1)

In [644]:
df1=df1.replace(to_replace =["Very easy"],
                 value =0)
df1=df1.replace(to_replace =["Somewhat easy"],
                 value =1)
df1=df1.replace(to_replace =["Somewhat difficult"],
                 value =2)
df1=df1.replace(to_replace =["Very difficult"],
                 value =3)
df1=df1.replace(to_replace =["Don't know","Not sure","Maybe",'Some of them'],
                 value =1.5)

In [645]:
df1=df1.replace(to_replace =["Never"],
                 value =0)
df1=df1.replace(to_replace =["NA"],
                 value =2.5)
df1=df1.replace(to_replace =["Often"],
                 value =3)
df1=df1.replace(to_replace =["Rarely"],
                 value =5)
df1=df1.replace(to_replace =["Sometimes"],
                 value =7)

df=df.replace(to_replace =["NaN"],
                 value =0.3)

In [646]:
df1=df1.replace(to_replace =["Male","male","M","m","Male-ish","maile",'Mal', 'Male ','Man','Malr'],
                 value =0)
df1=df1.replace(to_replace =["Female","female","F","f",'Femake','Female ','Woman','woman','femail'],
value =1)
df1=df1.replace(to_replace =['Trans-female', 'Cis Female',
       'something kinda male?', 'Cis Male',  
       'non-binary',  'Make', 'Nah', 'Enby', 'fluid',
       'Genderqueer',  'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
        'Trans woman', 'msle', 'Neuter', 'Female (trans)', 'queer',
       'Female (cis)', 'Mail', 'cis male', 'A little about you', 'Cis Man',
       'ostensibly male, unsure what that really means' , 'p'],
value =0.5)

In [647]:
df1["Gender"].unique()

array([0. , 1. , 0.5])

In [648]:
df1['Age']=np.where(df1['Age']<=0 , df1["Age"].mean(skipna=True), df1['Age'])
# df1['Age']=np.where(df1['Age']>=80 , df1["Age"].mean(skipna=True), df1['Age'])
# df1=df1.drop(['no_employees'],axis=1)
# df1.dropna()

In [649]:
df1["self_employed"].fillna(0.7, inplace = True)
df1["work_interfere"].fillna(0.2, inplace = True)

In [650]:
df1=df1.replace(to_replace =['1-5'],
                 value =1)
df1=df1.replace(to_replace =['6-25'],
value =2)
df1=df1.replace(to_replace =['26-100'],
                 value =3)
df1=df1.replace(to_replace =['100-500'],
value =4)
df1=df1.replace(to_replace =['500-1000'],
                 value =5)
df1=df1.replace(to_replace =['More than 1000'],
value =6)

In [651]:
df1["Gender"].unique()

array([0. , 1. , 0.5])

In [652]:
df1["work_interfere"].values.tolist()

[3.0,
 7.0,
 3.0,
 7.0,
 7.0,
 0.0,
 7.0,
 7.0,
 7.0,
 0.2,
 0.2,
 0.0,
 7.0,
 7.0,
 7.0,
 0.2,
 0.2,
 3.0,
 7.0,
 5.0,
 0.0,
 7.0,
 0.0,
 0.2,
 7.0,
 7.0,
 0.0,
 7.0,
 0.0,
 0.2,
 0.2,
 5.0,
 7.0,
 3.0,
 0.0,
 7.0,
 7.0,
 0.2,
 7.0,
 0.2,
 7.0,
 0.2,
 7.0,
 7.0,
 3.0,
 7.0,
 7.0,
 7.0,
 3.0,
 7.0,
 7.0,
 7.0,
 3.0,
 0.0,
 5.0,
 7.0,
 0.0,
 0.0,
 3.0,
 5.0,
 3.0,
 7.0,
 0.0,
 3.0,
 7.0,
 3.0,
 0.0,
 0.0,
 0.0,
 0.2,
 7.0,
 7.0,
 5.0,
 0.0,
 7.0,
 7.0,
 7.0,
 3.0,
 7.0,
 7.0,
 3.0,
 3.0,
 3.0,
 3.0,
 7.0,
 0.2,
 7.0,
 0.0,
 7.0,
 7.0,
 0.0,
 0.0,
 3.0,
 7.0,
 7.0,
 7.0,
 5.0,
 7.0,
 0.2,
 0.0,
 0.2,
 7.0,
 3.0,
 7.0,
 0.0,
 5.0,
 7.0,
 5.0,
 3.0,
 3.0,
 7.0,
 3.0,
 0.2,
 7.0,
 0.2,
 7.0,
 0.0,
 7.0,
 5.0,
 0.0,
 5.0,
 7.0,
 0.0,
 5.0,
 0.2,
 3.0,
 7.0,
 3.0,
 7.0,
 0.2,
 7.0,
 0.2,
 5.0,
 5.0,
 5.0,
 7.0,
 7.0,
 0.2,
 7.0,
 7.0,
 3.0,
 5.0,
 7.0,
 0.2,
 0.0,
 7.0,
 7.0,
 7.0,
 3.0,
 5.0,
 7.0,
 0.0,
 5.0,
 5.0,
 3.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.0,
 7.0,
 0.0,
 0.2,
 7.0,
 3.0,
 7.0,
 7.0,
 0.0,
 3.0,
 7.0,
 0.2,
 0.2,
 7.0,
 7.0,
 5.0,
 0.2,
 5.0,
 0.0,
 7.0,
 7.0,
 7.0,
 7.0,
 0.0,
 7.0,
 3.0,
 0.0,
 5.0,
 7.0,
 0.2,
 7.0,
 7.0,
 7.0,
 0.0,
 0.0,
 0.2,
 7.0,
 5.0,
 3.0,
 3.0,
 0.2,
 3.0,
 5.0,
 0.2,
 0.2,
 0.0,
 7.0,
 3.0,
 7.0,
 3.0,
 7.0,
 0.2,
 0.0,
 7.0,
 7.0,
 3.0,
 0.2,
 5.0,
 0.0,
 0.2,
 7.0,
 3.0,
 7.0,
 5.0,
 0.0,
 7.0,
 5.0,
 0.2,
 0.0,
 7.0,
 0.2,
 7.0,
 7.0,
 7.0,
 5.0,
 7.0,
 3.0,
 3.0,
 7.0,
 3.0,
 7.0,
 7.0,
 3.0,
 5.0,
 5.0,
 0.2,
 3.0,
 0.0,
 3.0,
 7.0,
 7.0,
 3.0,
 3.0,
 7.0,
 5.0,
 0.2,
 3.0,
 7.0,
 0.2,
 7.0]

In [653]:
Predictions=model.predict(df1)
# Predictions=Predictions.replace(to_replace =[1],value ="Yes")
# Predictions=Predictions.replace(to_replace =[0],value ="No")

class_probability = model.predict_proba(df1)
y = class_probability.round()[:,1]
X = np.array(Predictions) - np.array(y)


# df1['treatment']=Predictions
# Final_Dataframe=df1[['treatment']]
# Final_Dataframe=Final_Dataframe.replace({'treatment':0},{'treatment':"No"})
# Final_Dataframe=Final_Dataframe.replace({'treatment':1},{'treatment':"Yes"})
# Final_Dataframe.insert(0, 's.no', range(1, 1 + (len(Final_Dataframe))))

# Final_Dataframe.to_csv('demo.csv',index=False)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [654]:
df1.describe()

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.00000,259.000000,259.000000,...,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000
mean,32.693296,0.235521,0.088803,0.428571,3.932819,3.459459,0.316602,0.76834,0.857143,0.749035,...,1.264479,1.318533,0.899614,0.370656,1.059846,0.808880,0.254826,0.843629,0.980695,0.185328
std,7.513509,0.420563,0.285010,0.495830,2.935053,1.743564,0.466051,0.42271,0.605896,0.612174,...,0.379377,0.717908,0.649657,0.625421,0.617329,0.610914,0.548718,0.691636,0.630010,0.389316
min,11.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,0.000000,0.000000,0.000000,0.200000,2.000000,0.000000,1.00000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,32.000000,0.000000,0.000000,0.000000,5.000000,3.000000,0.000000,1.00000,1.000000,1.000000,...,1.500000,1.500000,1.000000,0.000000,1.500000,1.000000,0.000000,1.000000,1.500000,0.000000
75%,38.000000,0.000000,0.000000,1.000000,7.000000,5.500000,1.000000,1.00000,1.500000,1.000000,...,1.500000,1.500000,1.500000,1.000000,1.500000,1.500000,0.000000,1.500000,1.500000,0.000000
max,72.000000,1.000000,1.000000,1.000000,7.000000,6.000000,1.000000,1.00000,1.500000,1.500000,...,1.500000,3.000000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.000000

In [655]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE

diabetes = pd.read_csv('diabetes_cleaned_balanced.csv')
diabetes.drop('HbA1c', axis=1, inplace=True)

X = np.array(diabetes.loc[:, diabetes.columns != 'HbA1c_category'])  # 8256x52
y = np.array(diabetes.loc[:, diabetes.columns == 'HbA1c_category'])  # 8256x1

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=37)
# X_train: 6192x52
# X_test: 2064x52

estimator = RandomForestClassifier(n_estimators=1000, random_state=0)

selector = RFE(estimator, 5)

selector = selector.fit(X_train, y_train.ravel())
print(selector.ranking_)
# Selected non-medical attributes: ['Weight', 'BMI', 'Taking medication for hypertenstion', 'Exercise
# more than 30 minutes-category', 'Waist circumference (cm)', 'Improve lifestyle habits',
# 'Walking or physical activity-category','Quick walking-category', 'Age', 'HbA1c_category'] (In order)

FileNotFoundError: [Errno 2] File b'diabetes_cleaned_balanced.csv' does not exist: b'diabetes_cleaned_balanced.csv'